---
import "./styles/global.css";
import Header from "../pages/components/Header.svelte"
import Intro from "../pages/components/Intro.astro"
import Details from "../pages/components/Details.astro"
import Project from "../pages/components/Project.svelte"
import ContactForm from "../pages/components/ContactForm.svelte"
import {translations} from '../translations'
const url = new URL(Astro.request.url);
const langInput= url.searchParams.get('lang');
const cp= translations[langInput]||translations['en'];
---
      <html>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <meta name="description" content="Portfolio page of web developer Stefanos Palaiochoritis">
            <title>Stefanos Palaiochoritis</title>
        </head>
        <body  class="flex flex-col gap-y-20 bg-hex-blue-400">
         <Header lang={translations[langInput]?langInput:'en'} header={cp.header} client:load/>
          <Intro text={cp.main}/>
          <Details text={cp.personal}/>
          <section class="mb-10 flex flex-col gap-10 mx-auto">
            <h1 class="text-hex-gold-400 text-3xl block">Projects:</h1>
            <Project project={cp.projects[0]}/>
            <Project project={cp.projects[1]}/>
            <Project project={cp.projects[2]}/>
            <!-- see all projects button -->
          </section>
          <ContactForm labels={cp.contact}/>
        </body>
        </html>
