---
const { lang} = Astro.props;
const origin = Astro.url?.origin || "http://localhost:3000";
const {content:details}= await fetch(`${origin}/api/details.json/?lang=${lang}`).then(data=>data.json());
---
<article class="bg-hex-blue-400 px-4 sm:px-8 lg:px-16 py-8 bg-gray-50 text-hex-gold-100 max-w-4xl mx-auto space-y-8">
  <section class=" space-y-4">
      <h2 class="text-2xl sm:text-3xl font-semibold text-hex-gold-400">
        {details.info.heading}
      </h2>
      <p class="mt-4 text-base sm:text-lg leading-relaxed">
        {details.info.content}
      </p>
    </section  >
    <section class="space-y-4">
      <h2 class="text-2xl sm:text-3xl font-semibold text-hex-gold-400">
        {details.futureGoals.heading}
      </h2>
      <p class="mt-4 text-base sm:text-lg leading-relaxed">
        {details.futureGoals.content}
      </p>
    </section>
    <section class="space-y-4">
      <h2 class="text-2xl sm:text-3xl font-semibold text-hex-gold-400">
        {details.interviewTakeaway.heading}
      </h2>
      <p class="mt-4 text-base sm:text-lg leading-relaxed">
        {details.interviewTakeaway.content}
      </p>
    </section>
</article>
