---
import "@styles/global.css"
import Header from "@components/Header.svelte";
import Intro from "@components/Intro.svelte";
import Details from "@components/Details.astro";
import Project from "@components/Project.svelte";
import ContactForm from "@components/ContactForm.svelte";
import { fetchTranslations } from "@utils/translation.js";
const locale = Astro.currentLocale||'en';
const content= await fetchTranslations(locale);
---
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Καλώς ήρθατε στο portfolio μου! Εδώ μπορείτε να μάθετε περισσότερα για εμένα, να εξερευνήσετε τα έργα στα οποία έχω δουλέψει και να επικοινωνήσετε εύκολα μαζί μου. Από καινοτόμες διαδικτυακές εφαρμογές μέχρι δημιουργικές σχεδιαστικές λύσεις, αυτός ο ιστότοπος παρουσιάζει τις δεξιότητές μου και το πάθος μου για την ανάπτυξη ιστοσελίδων. Ας συνδεθούμε και ας φέρουμε τις ιδέες στη ζωή!"/>
      <meta name="twitter:card" content="example_image.webp" />
      <meta name="twitter:title" content="Το πορτφόλιο μου" />
      <meta name="twitter:description" content="Εξερευνήστε το πορτόφλιο και τα προτζεκτ μου." />
      <meta name="twitter:image" content="https://examplePage.com/images/portfolio-image.jpg" />
      <meta name="twitter:creator" content="@exampleTwitterhandle" />
      <meta name="keywords" content="προγραμματισμός, ιστοσελίδες, front-end, back-end, javascript" /> 
      <title>Στέφανος Παλαιοχωρίτης</title>
    </head>
    <body class=" bg-hex-blue-300 sm:p-7 md:p-14 lg:p-20">
      <section class="flex flex-col gap-y-20 bg-hex-blue-400 sm:rounded-xl ">
        <Header lang={locale} header={content.header} client:load/>
        <Intro intro={content.main} client:load/>
        <Details lang={locale}/>
        <section class="mb-10 flex flex-col gap-20 mx-auto">
          <h1 class="text-hex-gold-400 text-3xl block">Πρότζεκτ:</h1>
          <Project project={content.projects[0]} client:load />
          <Project project={content.projects[1]} client:load/>
          <Project project={content.projects[2]} client:load/>
        </section>
        <ContactForm labels={content.contact} client:load/>
      </section>
    </body>
    </html>
